* text=auto !eol
/LICENSE.txt -text
/NOTICE.txt -text
documentation/ont.lighting[!!-~]class[!!-~]diagram[!!-~]20.4.2011.png -text
/pom.xml -text
src/main/java/org/universAAL/ontology/Activator.java -text
src/main/java/org/universAAL/ontology/lighting/Beaming.java -text
src/main/java/org/universAAL/ontology/lighting/BeamingSource.java -text
src/main/java/org/universAAL/ontology/lighting/Blinkable.java -text
src/main/java/org/universAAL/ontology/lighting/BlinkableBeaming.java -text
src/main/java/org/universAAL/ontology/lighting/BlinkableBeamingSource.java -text
src/main/java/org/universAAL/ontology/lighting/BlinkableLightSource.java -text
src/main/java/org/universAAL/ontology/lighting/BlinkableLighting.java -text
src/main/java/org/universAAL/ontology/lighting/ElectricLight.java -text
src/main/java/org/universAAL/ontology/lighting/FlamingLight.java -text
src/main/java/org/universAAL/ontology/lighting/LightSource.java -text
src/main/java/org/universAAL/ontology/lighting/LightType.java -text
src/main/java/org/universAAL/ontology/lighting/Lighting.java -text
src/main/java/org/universAAL/ontology/lighting/NaturalLight.java -text
