audio_video/.classpath
audio_video/.project
audio_video/.settings
audio_video/target
blind/.classpath
blind/.project
blind/.settings
blind/target
device.extra/.classpath
device.extra/.project
device.extra/.settings
device.extra/target
device.extra/uAAL.log
furniture/.classpath
furniture/.project
furniture/.settings
furniture/target
gesture.pointing/.classpath
gesture.pointing/.project
gesture.pointing/.settings
gesture.pointing/target
hazard/.classpath
hazard/.project
hazard/.settings
hazard/target
lighting/.classpath
lighting/.project
lighting/.settings
lighting/bin
lighting/target
location.extra/.classpath
location.extra/.project
location.extra/.settings
location.extra/target
measurement/.classpath
measurement/.project
measurement/.settings
measurement/target
measurement/uAAL.log
medication/.classpath
medication/.project
medication/.settings
medication/target
multimedia/.classpath
multimedia/.project
multimedia/.settings
multimedia/target
physical.world/.classpath
physical.world/.project
physical.world/.settings
physical.world/target
