* text=auto !eol
audio_video/LICENSE.txt -text
audio_video/NOTICE.txt -text
audio_video/pom.xml -text
audio_video/src/main/java/org/universAAL/ontology/AVFactory.java -text
audio_video/src/main/java/org/universAAL/ontology/AVOntology.java -text
audio_video/src/main/java/org/universAAL/ontology/Activator.java -text
audio_video/src/main/java/org/universAAL/ontology/av/device/LoudSpeaker.java -text
audio_video/src/main/java/org/universAAL/ontology/av/device/Microphone.java -text
audio_video/src/main/java/org/universAAL/ontology/av/device/VideoCamera.java -text
audio_video/src/main/java/org/universAAL/ontology/av/service/CameraService.java -text
audio_video/src/main/java/org/universAAL/ontology/av/service/LoudSpeakerService.java -text
audio_video/src/main/java/org/universAAL/ontology/av/service/MicrophoneService.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/AudioCompression.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/AudioFile.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/AudioFormat.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/AudioStream.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/Compression.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/EndPoint.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/Format.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/Stream.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/VideoCompression.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/VideoFormat.java -text
audio_video/src/main/java/org/universAAL/ontology/av/streaming/VideoStream.java -text
device.extra/LICENSE-CPL-JUnit.txt -text
device.extra/LICENSE.txt -text
device.extra/NOTICE.txt -text
device.extra/artifact_manual.composite -text
device.extra/pom.xml -text
device.extra/src/main/java/org/universAAL/ontology/Activator.java -text
device.extra/src/main/java/org/universAAL/ontology/DeviceFactory.java -text
device.extra/src/main/java/org/universAAL/ontology/DeviceOntology.java -text
device.extra/src/main/java/org/universAAL/ontology/device/home/CarpetSensor.java -text
device.extra/src/main/java/org/universAAL/ontology/device/home/ContactSensor.java -text
device.extra/src/main/java/org/universAAL/ontology/device/home/Oven.java -text
device.extra/src/main/java/org/universAAL/ontology/device/home/PresenceDetector.java -text
device.extra/src/main/java/org/universAAL/ontology/device/home/SirenActuator.java -text
device.extra/src/main/java/org/universAAL/ontology/device/home/Strap.java -text
device.extra/src/test/java/org/universAAL/ontology/device/home/test/ArtifactIntegrationTest.java -text
device.extra/src/test/resources/log4j.properties -text
furniture/LICENSE.txt -text
furniture/NOTICE.txt -text
furniture/pom.xml -text
furniture/src/main/java/org/universAAL/ontology/Activator.java -text
furniture/src/main/java/org/universAAL/ontology/FurnitureFactory.java -text
furniture/src/main/java/org/universAAL/ontology/FurnitureOntology.java -text
furniture/src/main/java/org/universAAL/ontology/furniture/Furniture.java -text
furniture/src/main/java/org/universAAL/ontology/furniture/FurnitureType.java -text
gesture.pointing/pom.xml -text
gesture.pointing/src/main/java/org/universAAL/ontology/Activator.java -text
gesture.pointing/src/main/java/org/universAAL/ontology/gesture/pointing/GestureRecognition.java -text
gesture.pointing/src/main/java/org/universAAL/ontology/gesture/pointing/PointingGestureInSpace.java -text
hazard/pom.xml -text
hazard/src/main/java/org/universAAL/ontology/Activator.java -text
hazard/src/main/java/org/universAAL/ontology/HazardFactory.java -text
hazard/src/main/java/org/universAAL/ontology/HazardOntology.java -text
hazard/src/main/java/org/universAAL/ontology/hazard/FireDetector.java -text
hazard/src/main/java/org/universAAL/ontology/hazard/GasDetector.java -text
impairment/LICENSE-CPL-JUnit.txt -text
impairment/LICENSE-JGCL.txt -text
impairment/LICENSE-MIT11-Bouncycastle.txt -text
impairment/LICENSE.txt -text
impairment/NOTICE.txt -text
impairment/artifact_manual.composite -text
impairment/pom.xml -text
impairment/src/main/java/org/universAAL/ontology/Activator.java -text
impairment/src/main/java/org/universAAL/ontology/ImpairmentFactory.java -text
impairment/src/main/java/org/universAAL/ontology/ImpairmentOntology.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/Astigmatism.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/ColorBlindness.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/FarSightedness.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/HearingImpairment.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/LightSensitivity.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/NearSightedness.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/PhysicalImpairment.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/SightImpairment.java -text
impairment/src/main/java/org/universAAL/ontology/impairment/SpeakingImpairment.java -text
impairment/src/test/java/org/universAAL/ontology/impairment/ArtifactIntegrationTest.java -text
impairment/src/test/resources/log4j.properties -text
lighting/LICENSE.txt -text
lighting/NOTICE.txt -text
lighting/documentation/ont.lighting[!!-~]class[!!-~]diagram[!!-~]20.4.2011.png -text
lighting/pom.xml -text
lighting/src/main/java/org/universAAL/ontology/Activator.java -text
lighting/src/main/java/org/universAAL/ontology/LightingFactory.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/Beaming.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/BeamingSource.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/BlinkableBeaming.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/BlinkableBeamingSource.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/BlinkableLightSource.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/BlinkableLighting.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/ElectricLight.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/FlamingLight.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/LightSource.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/LightType.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/Lighting.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/LightingOntology.java -text
lighting/src/main/java/org/universAAL/ontology/lighting/NaturalLight.java -text
measurement/LICENSE.txt -text
measurement/NOTICE.txt -text
measurement/artifact_manual.composite -text
measurement/pom.xml -text
measurement/src/main/java/org/universAAL/ontology/Activator.java -text
measurement/src/main/java/org/universAAL/ontology/measurement/DimensionMeasure.java -text
measurement/src/main/java/org/universAAL/ontology/measurement/MultiDimensionMeasure.java -text
measurement/src/main/resources/Measurement.jpg -text
measurement/src/test/java/org/universAAL/ontology/measurement/ArtifactIntegrationTest.java -text
measurement/src/test/resources/log4j.properties -text
physical.world/LICENSE.txt -text
physical.world/NOTICE.txt -text
physical.world/artifact-0.2.3.composite -text
physical.world/artifact_manual.composite -text
physical.world/composite-0.2.3/ont.phWorld-0.2.3-SNAPSHOT.jar -text
physical.world/composite-0.2.3/ont.phWorld-0.2.3-SNAPSHOT.pom -text
physical.world/documentation/ont.phWorld.location[!!-~]class[!!-~]diagram[!!-~]20.4.2011.png -text
physical.world/documentation/ont.phWorld.phThing[!!-~]class[!!-~]diagram[!!-~]20.4.2011.png -text
physical.world/documentation/ont.phWorld.shape[!!-~]class[!!-~]diagram[!!-~]20.4.2011.png -text
physical.world/pom.xml -text
physical.world/src/main/java/org/universAAL/ontology/Activator.java -text
physical.world/src/main/java/org/universAAL/ontology/LocationFactory.java -text
physical.world/src/main/java/org/universAAL/ontology/PhThingFactory.java -text
physical.world/src/main/java/org/universAAL/ontology/ShapeFactory.java -text
physical.world/src/main/java/org/universAAL/ontology/SpaceFactory.java -text
physical.world/src/main/java/org/universAAL/ontology/location/Location.java -text
physical.world/src/main/java/org/universAAL/ontology/location/LocationOntology.java -text
physical.world/src/main/java/org/universAAL/ontology/location/Place.java -text
physical.world/src/main/java/org/universAAL/ontology/location/Way.java -text
physical.world/src/main/java/org/universAAL/ontology/location/address/Address.java -text
physical.world/src/main/java/org/universAAL/ontology/location/address/MailBox.java -text
physical.world/src/main/java/org/universAAL/ontology/location/address/PhysicalAddress.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/BuildingLevel.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/Corridor.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/EntranceHall.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/Hall.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/Home.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/HomeArea.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/IndoorPlace.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/Room.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/RoomFunction.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/StairCase.java -text
physical.world/src/main/java/org/universAAL/ontology/location/indoor/StairWay.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/Building.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/City.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/CityPlace.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/CityQuarter.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/CityRegion.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/Country.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/OutdoorPlace.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/Region.java -text
physical.world/src/main/java/org/universAAL/ontology/location/outdoor/State.java -text
physical.world/src/main/java/org/universAAL/ontology/location/position/CoordinateSystem.java -text
physical.world/src/main/java/org/universAAL/ontology/location/position/OriginedMetric.java -text
physical.world/src/main/java/org/universAAL/ontology/location/position/Point.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/Actuator.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/Device.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/DeviceService.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/DimmerActuator.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/OnOffActuator.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/OnOffSensor.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/PhThingOntology.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/PhysicalContainer.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/PhysicalThing.java -text
physical.world/src/main/java/org/universAAL/ontology/phThing/Sensor.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/BooleanShape.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Box.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Circle.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/ConeSegment.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Ellipse.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Line.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/LineSegment.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/MergedShape.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Path.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Polygon.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Polyhedron.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/QuasiCylinder.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Shape.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Shape2D.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Shape3D.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/ShapeOntology.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Sphere.java -text
physical.world/src/main/java/org/universAAL/ontology/shape/Triangle.java -text
physical.world/src/main/java/org/universAAL/ontology/space/SpaceConfigurationService.java -text
physical.world/src/main/java/org/universAAL/ontology/space/SpaceOntology.java -text
physical.world/src/test/java/org/universAAL/ontology/test/ArtifactIntegrationTest.java -text
physical.world/src/test/resources/log4j.properties -text
pom/composite/pom.xml -text
pom/pom.xml -text
user.profile/LICENSE-CPL-JUnit.txt -text
user.profile/LICENSE.txt -text
user.profile/NOTICE.txt -text
user.profile/artifact_manual.composite -text
user.profile/documentation/ont.profile[!!-~]class[!!-~]diagram[!!-~]20.4.2011.png -text
user.profile/documentation/ont.profile[!!-~]dependencies[!!-~]19.4.2011.png -text
user.profile/pom.xml -text
user.profile/src/main/java/org/universAAL/ontology/Activator.java -text
user.profile/src/main/java/org/universAAL/ontology/ProfileFactory.java -text
user.profile/src/main/java/org/universAAL/ontology/ProfileOntology.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/AALService.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/AALServiceProfile.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/AALSpace.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/AALSpaceProfile.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/AssistedPerson.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/AssistedPersonProfile.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/Caregiver.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/CaregiverProfile.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/Profilable.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/Profile.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/SubProfile.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/User.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/UserProfile.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/service/ProfilingEditorService.java -text
user.profile/src/main/java/org/universAAL/ontology/profile/service/ProfilingService.java -text
user.profile/src/test/java/org/universAAL/ontology/profile/ArtifactIntegrationTest.java -text
user.profile/src/test/resources/log4j.properties -text
